{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {}
}
