.Village {
  & > h1 {
    text-align: center;

    &:after {
      content: '';
      width: 200px;
      height: 5px;
      margin: 1rem auto 3rem;
      background-color: $orange;
      display: block;
    }
  }
}
