.VillageDrawer {
  &,
  &--active {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 99;

    .VillageDrawer__top-bar {
      button {
        height: 100%;
        background-color: transparent;
        border: 0;
        border-right: 1px solid #ddd;
        cursor: pointer;
        transition: 0.3s;
        font-size: 20px;

        &:hover {
          opacity: 0.6;
        }
      }

      & > * {
        display: inline-block;
        box-sizing: border-box;
      }
    }

    .VillageDrawer__unit {
      width: 500px;
      height: 100%;
      background-color: white;
      position: relative;
      float: right;
      box-shadow: -2px 0px 10px 2px #333;
    }

    .VillageDrawer__image {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  &--active {
    right: 0;
  }
}
